<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="" type="png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_admin.css">
    <title>Juggler</title>
</head>
<body>
    <div class="div_main_block_admin">
        <h1 class="title_admin">Aдмин панель</h1>
        <form action="/red_admin" method="post">
        <div class="div_inputs">
            
            <input type="text" name="login" class="name_input" placeholder="Введите логин">
            <input type="password" name="password" class="name_input" placeholder="Введите пароль">
            <input type="submit" value="Войти" class="button_admin">
        
        </div>
    </form>
    </div>
</body>
</html>