<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="" type="png" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/photo/photo_cap.jfif" type="png" />
    <title>Жонглёр</title>
  </head>
  <body>
    <img src="/photo/clown.jpeg" alt="" class="back_header" />
    <header>
      <div class="div_header">
        <div class="a_header">
          <a href="#block_one"><b>О тренере</b></a>
          <a href="#block_two"><b>Преимущества жонглирования</b></a>
          <a href="#block_four"><b>Описание курса</b></a>
          <a href="/comment"><b>Отзывы</b></a>
        </div>
        <div class="navbar">
          <div class="dropdown">
            <img src="/photo/dropdaun.png" alt="" class="dropbtn" />
            <div class="dropdown-content">
              <a href="#block_one"><b>О тренере</b></a>
              <a href="#block_two"><b>Преимущества жонглирования</b></a>
              <a href="#block_four"><b>Описание курса</b></a>
              <a href="/comment"><b>Отзывы</b></a>
            </div>
          </div>
        </div>
        <div class="header_social">
          <a href=""
            ><img src="/photo/telegram_social.png" alt="" class="img_social"
          /></a>
          <a href=""
            ><img src="/photo/email_social.png" alt="" class="img_social"
          /></a>
        </div>
      </div>
      <div class="div_text_main">
        <h1 class="title_main">Курс по жонглированию</h1>
        <h2 class="bottom_title_main">
          Жонглирования 3 мячами + 3 трюка с мячами
        </h2>
        <button class="button_header">Приобрести курс</button>
      </div>
    </header>
    <div class="block_one" id="block_one">
      <div class="div_block_one">
        <div class="div_left_block_one">
          <h1 class="title_two"><b>О тренере</b></h1>
          <hr class="line_block_one" />
          <p class="p_text_block_two">
            Привет! Меня зовут Максим Козуб!<br />Мне 30 лет. Жонглирую с
            детства и с<br />радостью передаю свои знания вам.<br />
            Моя цель — научить вас этому<br />
            искусству. Также добавлю, что являюсь<br />
            победителем многих конкурсов и <br />фестивалей.
          </p>
          <button class="button_block_one">Приобрести курс</button>
        </div>
        <img src="/photo/man_two.jpg" alt="" class="photo_one" />
        <img src="/photo/maks.png" alt="" class="maks" />
      </div>
    </div>
    <div class="block_two" id="block_two">
      <div class="div_block_two">
        <h1 class="title_three">
          Преимущества <br />
          Жонглирования
        </h1>
        <div class="div_advantages">
          <div class="div_top">
            <div class="div_one_ad">
              <img src="/photo/brain.png" alt="" class="icon_ad" />
              <p class="p_text_ad">
                <span class="title_ad"><b>Развивается мозг</b></span>
              </p>
              <p class="p_text_ad">
                Во время жонглирования вы контролируете несколько объектов
                одновременно и реагируете на изменения. Это упражнение тренирует
                различные части вашего мозга и способствует его развитию. При
                таких тренировках, благодаря активизации взаимодействия обоих
                полушарий головного мозга, формируется новая нейронная связь.
              </p>
            </div>
            <div class="div_one_ad">
              <img src="/photo/hand_block_three.png" alt="" class="icon_ad" />
              <p class="p_text_ad">
                <span class="title_ad"
                  ><b
                    >Мелкая и крупная <br />
                    моторика рук</b
                  ></span
                >
              </p>
              <p class="p_text_ad">
                Жонглирование требует точности, синхронизации и контроля
                движений, что способствует развитию мелкой и крупной моторики и
                улучшению этих навыков.
              </p>
            </div>
            <div class="div_one_ad">
              <img src="/photo/eyes.png" alt="" class="icon_ad" />
              <p class="p_text_ad">
                <span class="title_ad"><b>Улучшается зрение</b></span>
              </p>
              <p class="p_text_ad">
                Жонглирование развивает способность глаз к быстрой смене фокуса
                и улучшению<br />
                переферического и бокового зрения.
              </p>
            </div>
          </div>
          <div class="div_top">
            <div class="div_one_ad">
              <img src="/photo/hand_ball.png" alt="" class="icon_ad" />
              <p class="p_text_ad">
                <span class="title_ad"><b>Концентрация</b></span>
              </p>
              <p class="p_text_ad">
                Улучшение способности к длительному сосредоточенному вниманию и
                повышению уровня концентрации.
              </p>
            </div>
            <div class="div_one_ad">
              <img src="/photo/mobile.png" alt="" class="icon_ad" />
              <p class="p_text_ad">
                <span class="title_ad"
                  ><b
                    >Для тех, кто зависим<br />
                    от гаджетов</b
                  ></span
                >
              </p>
              <p class="p_text_ad">
                Идеально для детей, которые много времени уделяют гаджетам.
                Поможет отвлечься от постоянного взаимодействия с ними и занять
                свободное время, способствуя всестороннему развитию ребёнка.
              </p>
            </div>
            <div class="div_one_ad">
              <img src="/photo/school.png" alt="" class="icon_ad" />
              <p class="p_text_ad">
                <span class="title_ad"><b>Школа</b></span>
              </p>
              <p class="p_text_ad">
                Способствует развитию творческого мышления и умению быстро
                приспосабливаться к изменениям, что может быть полезно в учебном
                процессе.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block_three">
      <div class="div_block_three">
        <h1 class="title_four">Стоимость курса</h1>
        <p class="price">1000 рублей.</p>
        <button class="button_block_three">Приобрести курс</button>
      </div>
    </div>
    <div class="block_four" id="block_four">
      <div class="div_block_four">
        <h1 class="title_five">Описание курса</h1>
        <div class="div_blocks_four">
          <img src="/photo/man_one.jpeg" alt="" class="photo_two" />
          <div class="div_text_block_four1">
            <p class="text_four">
              Курс состоит из 4 уроков. В него входит обучение жонглированию
              тремя мячами и бонус:
              <b>ещё 3 трюка (Синхронные колонны, Обратный каскад, Круг).</b>
            </p>
            <p class="text_four">
              <b>Что понадобится для курса?</b> Мячи 🥎. Можно, конечно,
              использовать подручные средства: яблоки, мандарины, апельсины — но
              не советую этого делать, так как эти фрукты имеют разный размер и
              вес, что будет не совсем удобно. Можно приобрести через интернет
              профессиональные мячи для жонглирования.
            </p>
            <p class="text_four">
              Есть ещё проще вариант: мячи для большого тенниса (я такие
              использую в курсе), удобные для жонглирования и подходящие как
              детям, так и взрослым.
              <b> Их можно купить в любом спортивном магазине.</b>
            </p>
            <button class="button_block_three">Приобрести курс</button>
          </div>
          <div class="div_text_block_four">
            <p class="text_four">
              Курс состоит из 4 уроков. В него входит<br />
              обучение жонглированию тремя мячами<br />
              и бонус:
              <b
                >ещё 3 трюка (Синхронные<br />
                колонны, Обратный каскад, Круг).</b
              >
            </p>
            <p class="text_four">
              <b>Что понадобится для курса?</b> Мячи 🥎.<br />
              Можно, конечно, использовать<br />
              подручные средства: яблоки, мандарины,<br />
              апельсины — но не советую этого делать,<br />
              так как эти фрукты имеют разный размер<br />
              и вес, что будет не совсем удобно. Можно<br />
              приобрести через интернет<br />
              профессиональные мячи для <br />
              жонглирования.
            </p>
            <p class="text_four">
              Есть ещё проще вариант: мячи для<br />
              большого тенниса (я такие использую в<br />
              курсе), удобные для жонглирования и <br />
              подходящие как детям, так и взрослым.<br />
              <b>
                Их можно купить в любом спортивном <br />
                магазине.</b
              >
            </p>
            <button class="button_block_three">Приобрести курс</button>
          </div>
        </div>
      </div>
    </div>
    <div class="block_five">
      <img src="/photo/ball.png" alt="" class="ball" />
    </div>
    <footer>
      <div class="div_footer">
        <div class="header_social">
          <a href=""
            ><img src="/photo/telegram_social.png" alt="" class="img_social"
          /></a>
          <a href=""
            ><img src="/photo/email_social.png" alt="" class="img_social"
          /></a>
        </div>
        <div class="div_contact_footer">
          <a href="mailto:m.kcozub2012@gmail.com" class="a_footer"
            >Почта: m.kcozub2012@gmail.com</a
          >
          <p class="p_footer">
            Козуб Карина Сергеевна <br />
            ИНН: 820100520664
          </p>
        </div>
        <div class="a_header">
          <a href="#block_one" class="a_footer"><b>О тренере</b></a>
          <a href="#block_two" class="a_footer"
            ><b>Преимущества жонглирования</b></a
          >
          <a href="#block_four" class="a_footer"><b>Описание курса</b></a>
        </div>
      </div>
    </footer>
  </body>
</html>
